.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: relative;
  top: -50px;
  transition: all 0.5s ease-out;
  width: 100%;
}

.showing {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: 0px;
    transition: all 0.5s ease-out;
    width: 100%;
}

.buttonContainer {
    width: 100%;
    background-color: var(--color-grey-500);
    position: relative;
    z-index: 2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);
    margin: 0 auto;
}

.buttonUp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
  margin: 0 auto;
}

.button > *, .buttonUp > * {
    width: 20px;
    height: 20px;
}

.div {
  margin: 10px 0;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .form {
    top: -100px;
    display: block;
  }

  .showing {
    display: block;
  }
}
