.grey500bg {
    background-color: var(--color-grey-500);
    border-color: var(--color-grey-800);
    font-family: 'Oswald', 'Roboto', sans-serif;
}

.grey800color {
    color: var(--color-grey-800);
}