
.header {
    padding-bottom: var(--size-8);
    border-bottom: 8px solid var(--color-primary-500);
    margin: var(--size-4) 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .header h1 {
    font-size: var(--size-12);
    color: var(--color-primary-500);
    margin: 0;
    line-height: initial;
    text-align: center;
    flex: 1;
  }

  .container {
    width: 100%;
  }
  
  .container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
   
  @media (min-width: 1000px) {
    .header {
      margin: var(--size-8) 0;
      flex-direction: row;
      align-items: flex-end;
      gap: 0;
    }

    .header > * {
      flex: 1;
    }
  
    .header h1 {
      font-size: var(--size-16);
      text-align: left;
    }
  }