.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-4) auto 0 auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-50);
  border-radius: 6px;
  padding: var(--size-4);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.content p {
  color: var(--color-grey-800);
}

.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
}

.img {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-grey-50);
  padding: var(--size-4);
}

.footer > * {
  max-width: 60rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}

.content h2 {
  font-size: var(--size-8);
}

.content h3 {
  font-size: var(--size-6);
}

.content h3,
.content h2,
.content p {
  margin-top: var(--size-4);
  margin-bottom: var(--size-4);
}
